.favouritePageContainer {
  padding: 2rem;
  text-align: center;
}

.favouritePageTitle {
  color: #0957c3;
  margin-bottom: 1.5rem;
}

.favouritePageMessage {
  font-size: 1.2rem;
  color: #333;
}

.favouritePageCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
